body{
    background: powderblue;
    margin: 0;
    padding: 0;   
}

.calculator{
    display: flex;
    flex-direction: column;
    width: 40rem; 
    border: 2px solid goldenrod;
    font-family: 'Orbitron';
    font-size: 30px;
    text-align: right;
    margin: auto;

}
.display{
    width: 100%;
    border: 2px solid goldenrod;
    background-color: mediumspringgreen;
    box-sizing: border-box;
}

.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px 5px;
    
}
.button{
    font-family: 'Orbitron';
}

.add{
    grid-row: span 2;
}